@use "variables" as v;

//---------------
//FOOTER
footer {
    background-color: v.$color-gray;
    color: white;
    padding:10px 10px 50px 10px;
    font-size: 2rem;
    @media screen and (min-width: v.$sm-breakpoint) {
        display: flex;
        gap: 30px;
    }
    @media screen and (min-width: v.$md-breakpoint) {
        padding-left:10%;
        padding-right:10%;
        font-size: 1.5rem;
    }
    @media screen and (min-width: v.$lg-breakpoint) {
        padding-left:20%;
        padding-right:20%;
    }
        .form {
            /*   @media screen and (min-width: v.$sm-breakpoint) { display: flex; */
            @media screen and (min-width: v.$sm-breakpoint) {
                flex-basis:50%;
                gap: 2;
            }
            form {
                .placement{
                    @media screen and (min-width: v.$sm-breakpoint) {
                        display:flex;
                        flex-direction: row;
                        justify-content: space-around;
                        text-align: left;
                    }
                    text-align:center; 
                    padding-bottom:10px;
                    div {
                        width: 100%;
                        &.label {
                            @media screen and (min-width: v.$sm-breakpoint) {
                                flex-basis: 30%;
                            } 
                        }
                        &.input input, &.input textarea, &.input select{ 
                            width: 100%;
                            border:none;
                            border-radius:5px;
                            min-height:40px;
                           @media screen and (min-width: v.$sm-breakpoint) {
                                flex-basis: 70%;
                            }
                        }
                    }
                    
                    button {
                        width:100%;
                        padding:10px;
                        margin-top:10px;
                        text-transform: uppercase;
                        background-color: transparent;
                        border:none;
                        color:white;
                    }
                }
            }
        }
        .map{
            @media screen and (min-width: v.$sm-breakpoint) {
                flex-basis: 50%;
            }

            iframe {
                width: 100%;  
            }
        }
        
    h3 {
        font-size: 150%;
        text-align: center;
    }
}