// Variables
$color-original:#e20414;
$color-pinktonic: #fb02ac;
$color-mojito: #98c600;
$color-tropical: #da3f01;
$color-drinkselected: #d5cec3;


//Breakpoints
$xs-breakpoint: 575px;
$sm-breakpoint: 767px;
$md-breakpoint: 991px;
$lg-breakpoint: 1199px;
$xl-breakpoint: 1399px;

