@use "_reset.scss";
@use "variables" as v;

header {
    position: relative;
    width: 100%;
    display: flex;
    height:100vh;

            video {
                width: 100%;
                height: auto;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
                z-index: -2;
            }

            .text-overlay {
                color: white;
                display: flex;
                justify-content:center;
                font-size: 75px;
                gap: 1%;
                height: 200px;
                align-items: center;
          
            }

            .text-overlay1 {
                color: white;
                display: flex;
                justify-content:center;
                font-size: 75px;
                gap: 1%;
                align-items: center;
                height: 50%;
              
            }

         
}


.div-text-overlay {
    width: 100%;
    height: 100%;
    
}
    

.fa-solid{
   color: white;
}

#references {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.references-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.flex {
    display: flex;
}

.div-references {
    width: 30%;
  justify-content: center;
    display: flex;

    h3 {
        width: 35%;
        text-transform: uppercase;
    }
    
}

.div-references1 {
    width: 100%;
    margin: 10px;
    display: flex;
    gap: 5%;
    justify-content: center;

    h3 {
        width: 10%;
        text-transform: uppercase;
    }
    
}

.text {
    margin: 20px;
    width: 40%;
}

.referenceTitle {
text-align: center;
font-size: 35px;
text-transform: uppercase;
}




img {
    width: 30%;
}

.img1 {
    width: 10%;
}



body {
    font-family: "Titillium Web", sans-serif;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

//---------------
//SECTION RECIPES
section#recipes {

    //CARDS DRINK
    .drink.original {
        background-color: v.$color-original;
    }
    .drink.pinktonic {
        background-color: v.$color-pinktonic;
    }
    .drink.mojito {
        background-color: v.$color-mojito;
    }
    .drink.tropical {
        background-color: v.$color-tropical;
    }
    .drink {
        color:white;
        padding:10px 20px;
        margin:20px;
        border-radius: 10px;
        
        .title {
            border-bottom: 1px solid white;
            font-size: 3rem;
            margin:0;
            
        }

        .text {
            padding:10px 0;
        }
    }
    .categoryIcon img {
        width: 20px;
    }

    //BUTTONS
    .buttons button {
        //opacity: 10%;
        background-color:transparent;
        border: none;
        outline: none;
        margin-top:10px;
        color:white;
        text-transform: uppercase;
    }
    button.moreInfo {
        border-radius: 30px;
        background-color:rgba(0, 0, 0, 0.25);
        padding: 5px 10px;
    }

    //DRINK SELECTED
    .drinkSelected {
        background-color: v.$color-drinkselected;
        text-align:center;
    }
}

.container {
    display:flex;
    align-items: baseline;
    justify-content:space-between;
}


footer {

    background-color: gray;
    color: white;

.contact {
    
        position: relative;
        display: flex;
       
        align-items: flex-end;

        .form {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 50%;
            


            #formulaire {
                width: 100%;
                font-size: 90%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
               
                   
            }
        }


        .request {
            height: 40px;
           
            border-radius: 5px;
        }

        .map{
            flex-direction: column;
          
            display: flex;
           
            width: 40%;

            #map {
                width: 100%;
               
            }
        }
        
    }

    h3 {
        font-size: 150%;
        text-align: center;
    }
}

.input-size {
    width: 40%;
}

.placement {
    display: flex;
    justify-content:center;
    align-items: flex-start;
    
}

#submit {
    background-color: gray;
    border: none;
    color: white;
}
