@use "_reset.scss";
@use "variables" as v;

header {
    width: 100%;
    
        video {
            background-size: cover;
        }
}

body {
    font-family: "Titillium Web", sans-serif;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

//---------------
//SECTION RECIPES
section#recipes {

    //CARDS DRINK
    .drink.original {
        background-color: v.$color-original;
    }
    .drink.pinktonic {
        background-color: v.$color-pinktonic;
    }
    .drink.mojito {
        background-color: v.$color-mojito;
    }
    .drink.tropical {
        background-color: v.$color-tropical;
    }
    .drink {
        color:white;
        padding:10px 20px;
        margin:20px;
        border-radius: 10px;
        
        .title {
            border-bottom: 1px solid white;
            font-size: 3rem;
            margin:0;
            
        }

        .text {
            padding:10px 0;
        }
    }
    .categoryIcon img {
        width: 20px;
    }

    //BUTTONS
    .buttons button {
        //opacity: 10%;
        background-color:transparent;
        border: none;
        outline: none;
        margin-top:10px;
        color:white;
        text-transform: uppercase;
    }
    button.moreInfo {
        border-radius: 30px;
        background-color:rgba(0, 0, 0, 0.25);
        padding: 5px 10px;
    }

    //DRINK SELECTED
    .drinkSelected {
        background-color: v.$color-drinkselected;
        text-align:center;
    }
}

.container {
    display:flex;
    align-items: baseline;
    justify-content:space-between;
}