@use "_reset.scss";
@use "variables" as v;

//---------------
//COMMON
body {
    font-family: "Titillium Web", sans-serif;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

//---------------
//HEADER
header {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1; // pour que la navbar passe au-dessus de tous les textes de la page
    width: 100%;
    // pour que la navbar soit sticky :
    position: fixed;
    top: 0;
    
    .logo {
        color:gray;
    }

    nav ul li {
        display: none;
        margin: 0 5px;
        color:white;
        @media screen and (min-width: v.$sm-breakpoint) {
            display: inline-block;
        }
    }
    button.burger {
        font-size: 5rem;
        background-color:transparent;
        border: none;
        color:white;
        @media screen and (min-width: v.$sm-breakpoint) {
            display: none;
        }
    }
    a, a:hover, a:focus, a:visited {
        text-decoration: none;
        color:white;
    }

}


//---------------
//SECTION BANNER
#banner {
    position: relative;
    width: 100%;
    display: flex;
    height:100vh;

            video {
                width: 100%;
                height: auto;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
                z-index: -2;
            }

            .text-overlay {
                color: white;
                display: flex;
                justify-content:center;
                font-size: 75px;
                gap: 1%;
                height: 200px;
                align-items: center;
          
            }

            .text-overlay1 {
                color: white;
                display: flex;
                justify-content:center;
                font-size: 75px;
                gap: 1%;
                align-items: center;
                height: 50%;
              
            }

         
}


//BOUNCING ARROW
#arrow{
    width: 100%;
    text-align: center;
    font-size: 300%;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 50%, 100% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-20px);
    }
  
    100% {
        transform: translateY(0); 
      }
}

.div-text-overlay {
    width: 100%;
    height: 100%;
    
}  

#banner .fa-solid{
   color: white;
}


//---------------
//SECTION REFERENCES
#references {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.references-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.flex {
    display: flex;
}

.div-references {
    width: 30%;
  justify-content: center;
    display: flex;

    h3 {
        width: 35%;
        text-transform: uppercase;
    }
    
}

.div-references1 {
    width: 100%;
    margin: 10px;
    display: flex;
    gap: 5%;
    justify-content: center;

    h3 {
        width: 10%;
        text-transform: uppercase;
    }
    
}

.text {
    margin: 20px;
    width: 40%;
}

.referenceTitle {
text-align: center;
font-size: 35px;
text-transform: uppercase;
}

img {
    width: 30%;
}

.img1 {
    width: 10%;
}


//---------------
//SECTION RECIPES
section#recipes {

    //CARDS DRINK
    .drink.original {
        background-color: v.$color-original;
    }
    .drink.pinktonic {
        background-color: v.$color-pinktonic;
    }
    .drink.mojito {
        background-color: v.$color-mojito;
    }
    .drink.tropical {
        background-color: v.$color-tropical;
    }
    .drink {
        color:white;
        padding:10px 20px;
        margin:20px;
        border-radius: 10px;
        
        .title {
            border-bottom: 1px solid white;
            font-size: 3rem;
            margin:0;
            
        }

        .text {
            padding:10px 0;
        }
    }
    .categoryIcon img {
        width: 20px;
    }

    //BUTTONS
    .buttons button {
        background-color:transparent;
        border: none;
        outline: none;
        margin-top:10px;
        color:white;
        text-transform: uppercase;
    }
    button.moreInfo {
        border-radius: 30px;
        background-color:rgba(0, 0, 0, 0.25);
        padding: 5px 10px;
    }

    //DRINK SELECTED
    .drinkSelected {
        background-color: v.$color-drinkselected;
        text-align:center;
    }
}

.container {
    display:flex;
    align-items: baseline;
    justify-content:space-between;
}

//---------------
//FOOTER
footer {
    background-color: v.$color-gray;
    color: white;
    padding:10px 10px 50px 10px;
    font-size: 2rem;
    @media screen and (min-width: v.$sm-breakpoint) {
        display: flex;
        gap: 30px;
    }
    @media screen and (min-width: v.$md-breakpoint) {
        padding-left:10%;
        padding-right:10%;
        font-size: 1.5rem;
    }
    @media screen and (min-width: v.$lg-breakpoint) {
        padding-left:20%;
        padding-right:20%;
    }
        .form {
            /*   @media screen and (min-width: v.$sm-breakpoint) { display: flex; */
            @media screen and (min-width: v.$sm-breakpoint) {
                flex-basis:50%;
                gap: 2;
            }
            form {
                .placement{
                    @media screen and (min-width: v.$sm-breakpoint) {
                        display:flex;
                        flex-direction: row;
                        justify-content: space-around;
                        text-align: left;
                    }
                    text-align:center; 
                    padding-bottom:10px;
                    div {
                        width: 100%;
                        &.label {
                            @media screen and (min-width: v.$sm-breakpoint) {
                                flex-basis: 30%;
                            } 
                        }
                        &.input input, &.input textarea, &.input select{ 
                            width: 100%;
                            border:none;
                            border-radius:5px;
                            min-height:40px;
                           @media screen and (min-width: v.$sm-breakpoint) {
                                flex-basis: 70%;
                            }
                        }
                    }
                    
                    button {
                        width:100%;
                        padding:10px;
                        margin-top:10px;
                        text-transform: uppercase;
                        background-color: transparent;
                        border:none;
                        color:white;
                    }
                }
            }
        }
        .map{
            @media screen and (min-width: v.$sm-breakpoint) {
                flex-basis: 50%;
            }

            iframe {
                width: 100%;  
            }
        }
        
    h3 {
        font-size: 150%;
        text-align: center;
    }
}

.hidden {
    display: none;
}

#recipes ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20%;
    

    li button {
        
            background-color: v.$color-drinkselected;
            border-radius: 25px;
            text-transform: uppercase;
            font-size: 120%;
            padding: 10px;
            border: none;
        
    }
}
